name: Deploy

on:
  push:
    branches: [main]

permissions:
  actions: read
  checks: read
  contents: read
  deployments: read
  issues: read
  pull-requests: read
  statuses: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version: "20"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache

      - uses: actions/cache@v5
        with:
          path: ${{ github.workspace }}/.next/cache
          key: v1-${{ runner.os }}-${{ steps.setup-node.outputs.node-version }}-nextjs-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx', '**/*.md', '**/*.css') }}
          restore-keys: |
            v1-${{ runner.os }}-${{ steps.setup-node.outputs.node-version }}-nextjs-${{ hashFiles('**/yarn.lock') }}-

      - name: Configure AWS OIDC
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::738555527767:role/GitHubActionsOIDC
          role-session-name: ${{ github.run_id }}
          aws-region: us-east-1

      - name: Deploy
        run: yarn deploy
