name: Format
on: [pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: "yarn"
      - name: Install dependencies
        run: yarn install --immutable --immutable-cache
      - name: Format with Prettier
        run: yarn format
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Formatted files with Prettier"
